<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.lwquant.breakoutmon</string>
	<key>ProgramArguments</key>
	<array>
		<string>__PY__</string>
		<string>-X</string>
		<string>utf8</string>
		<string>__BASE__/factors/opportunities/breakout_monitor.py</string>
	</array>
	<key>WorkingDirectory</key>
	<string>__BASE__</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/bin:/bin:/usr/sbin:/sbin:/opt/homebrew/bin</string>
		<key>PYTHONUNBUFFERED</key>
		<string>1</string>
	</dict>
	<key>ProcessType</key>
	<string>Background</string>
	<key>RunAtLoad</key>
	<false/>
	<key>StandardOutPath</key>
	<string>__BASE__/logs/launchd_breakoutmon.log</string>
	<key>StandardErrorPath</key>
	<string>__BASE__/logs/launchd_breakoutmon.log</string>
	<key>StartInterval</key>
	<integer>1800</integer>
</dict>
</plist>
